<% include partials/header %>
<div class="row">
  <div class="jumbotron">
    <div class="container">
      <h1>SMLLR</h1>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">

    <h2>Here's your link: <a href="/<%=hash%>"> whatever.com/<%=hash%> </a></h2>


  </div>
  <div class="col-sm-2"></div>

</div>
<% include partials/footer %>
